<div align="center">
  <div class="header">
    JAPAN WONDERS
  </div>
  <div id="arrow-down">
  </div>
</div>
<div class="grid">

  <div class="grid-item black" align="center">
    <img src="./img/bg_4.jpg" class="fit-img"/>
    <hr>
    <h1>Hahahah</h1>
  </div>

  <div class="grid-item  black" align="center">
    <img src="./img/bg_4.jpg" class="fit-img"/>
    <hr>
    <h1>Hahahah</h1>
  </div>

  <div class="grid-item  black" align="center">
    <img src="http://a.static.trunity.net/files/299501_299600/299598/vertical-farming-chris-jacobs.jpg" class="fit-img"/>
    <hr>
    <h1>Hahahah</h1>
  </div>

  <div class="grid-item  black" align="center">
    <div class="content">
      <img src="./img/bg_4.jpg" class="fit-img"/>
      <hr>
      <h1>HahaHahahahHahahahHahahahhah</h1>
      <a href="#" id="like">
        <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div class="grid-item  black" align="center">
    <img src="./img/bg_4.jpg" class="fit-img"/>
    <hr>
    <h1>Hahahah</h1>
  </div>



</div>
