/* Define a custom web font */
@font-face {
  font-family: 'Osaka';
  src: url('../fonts/osaka-re.ttf');
}

html {
  position: relative;
  min-height: 100%;
}
/* body */
body {
  background: url('../img/bg_1.jpg') no-repeat center fixed;
  background-size: cover;
  margin-bottom: 100px;
}

.view {
  margin-bottom: 300px;
}

/* avoid rows to stretch over the window width */
.row {
  max-width: 100%;
}

#twitter {
  margin-top: 20px;
}

/* body opacity */
body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* colors */
.white {
  color: white !important;
}

.black {
  color: black !important;
}

.red {
  color: red !important;
}

/* navigation buttons and footer start */
#accessButtons {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1;
}

#accessButtons span {
  margin-right: 20px;
  font-size: 150%;
}

#navigationButtons {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}
/* navigation buttons and footer end */

/* view */
.view {
  margin-top: 150px;
}

/* home view header */
.header {
  font-size: 1500%;
  background-color: #D05A6E;
  padding-bottom: 30px;
  font-family: 'Osaka';
}

#arrow-down {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #D05A6E;
}

/* start masonry */
.grid {
  margin: 50px 100px 50px 100px;
  z-index: 0;
}

.grid-item {
  word-wrap: break-word;
  border-radius: 5%;
  background: #D7C4BB;
  float: left;
  max-width: 200px;
  min-width: 200px;
  border: 2px solid #D0104C;
  margin-bottom: 5px;
  margin: 5px;
}
/* fitting the images and the text */
.fit-img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 10px;
}

hr {
  border-color: #D0104C;
  border-width: 2px;
}

#like {
  margin: 0 10px 10px 0;
  float: right;
}

#delete {
  margin: 0 0px 10px 10px;
  float: left;
}

.content h1 {
  padding: 10px;
}
